.list-input {
  margin-left: 10px;
  border-radius: 3px;
  width: 400px;
  background-color: #d2d0d6;
  border: #d2d0d6;
}

.tags-container {
}

.tags-container .tag {
  font-size: xx-small;
  margin: 5px;
  color: lightslategray;
}


.edit-icons-container {
  margin-left: auto;
}

.edit-icon {
  cursor: pointer;
  margin-left:10px
}
