<mat-card style="background-color: rgba(210,208,214,0.52)" *ngIf="list">
  <mat-card-header>
    <mat-card-title>
      {{list.name}}
      <div class="tags-container">
        <span class="tag" *ngFor="let tag of list.tags">#{{tag}}</span>
      </div>
    </mat-card-title>
    <fa-icon [icon]="icons.faPen" class="edit-icon" (click)="emitEdit()"></fa-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let li of list.listItems; let i = index">
        <mat-checkbox
          [checked]="li.isCompleted"
          [(ngModel)]="li.isCompleted"
        >
          <input
            #liinput
            type="text"
            matInput
            class="list-input"
            [(ngModel)]="li.label"
            (keyup.enter)="createNewAfter(li)"
            (keyup.backspace)="removeItem(li)"
          >
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button (click)="save()">Save</button>
    <div *ngIf="saveresult">{{saveresult}}</div>
  </mat-card-content>
</mat-card>
