<mat-card style="background-color: rgba(210,208,214,0.52)" *ngIf="list">
  <mat-card-header>
    <mat-card-title>
      {{list.name}}
      <div class="tags-container">
        <span class="tag" *ngFor="let tag of list.tags">#{{tag}}</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let li of list.listItems; let i = index">
        <mat-checkbox
          [disabled]="!!list.listItems[i-1]&&!list.listItems[i-1].isCompleted"
          [checked]="li.isCompleted"
          [(ngModel)]="li.isCompleted"
        >{{li.label}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
