<div class="sidebar-heading">Categories: <button mat-raised-button class="float-right" (click)="openCreateDialog()">Add</button></div>
<div class="list-group list-group-flush list-group-sidebar">
  <a
    *ngFor="let cat of displayedCategories"
    (click)="activateCategory(cat)"
    [ngClass]="activeCategoryId==cat.id? 'active' : null"
    class="list-group-item list-group-item-action"
    title="{{cat.name}}"
  >
    {{cat.name}}
    <div class="edit-buttons-container float-right">
      <button class="edit-button" (click)="editCategory(cat)"><fa-icon [icon]="icons.faPen"></fa-icon></button>
      <button class="edit-button" (click)="deleteCategory(cat)"><fa-icon [icon]="icons.faTrash"></fa-icon></button>
    </div>
  </a>
</div>
