.clickable {
  cursor: pointer;
}

.sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.list-group {
  width: 15rem;
}

.list-group-item {
  background-color: #e2e2e2bf;
}

.list-group-item.active {
  background-color: #a0a6ab;
  color: #495057;
  border-color: #dae0e5;
}

.list-group-item:hover,
.list-group-item.active .edit-buttons-container {
  display: block;
}

.edit-buttons-container {
  margin-left: auto;
  display: none;
}

.edit-button {
  background: none;
  border:none;
  cursor: pointer;
}
