<div class="sidebar-heading">Categories: <button mat-raised-button class="float-right" (click)="openCreateDialog()">Add</button></div>
<div class="list-group list-group-flush list-group-sidebar">
  <a
    *ngFor="let cat of displayedCategories"
    (click)="activateCategory(cat)"
    [ngClass]="activeCategoryId==cat.id? 'active' : null"
    class="list-group-item list-group-item-action"
  >
    {{cat.name}}
    <button class="edit-button float-right" (click)="editCategory(cat)"><fa-icon [icon]="icons.faPen"></fa-icon></button>
  </a>
</div>
