<mat-card class="item-card">
  <mat-card-header>
    <mat-card-title>
      <a class="item-card-title" routerLink="/planning/item/{{item.id}}">{{item.name}}</a>
      <div class="tags-container">
        <span class="tag" *ngFor="let tag of item.tags">#{{tag}}</span>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="item-card-subtitle">{{item.description}}</mat-card-subtitle>
    <fa-icon [icon]="icons.faPen" class="edit-icon" (click)="emitEdit()"></fa-icon>
  </mat-card-header>
</mat-card>
